.navbar-toggleable-md{
    background-color: mistyrose;
}

.nav{
}

.btn{
    background-color: darkgreen;
}

#homepagejumbotron:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(lumber.jpg);
    background-size: cover;
    opacity: 0.25;
    z-index: -1;
}

#homepagejumbotron{
    position: relative;
    background-color: transparent;
}

.display-3{
    font-family: 'Arimo', sans-serif;
    color: black;
}

.container{
    width: 250px;
    border: 5px solid grey;
    padding: 15px;
    margin: 15px;
}

btn btn-primary btn-lg{
    background-color: antiquewhite;
}

placeholder{
    font: red;
}